/*-----EXTRA RESETS-----*/

body{
	font-family: Consolas, monaco, monospace;
	background-color: #161713;
	color: white;

	position: static;
}

a:link {
    color: #47b2dc;
}

/* visited link */
a:visited {
    color: #7ede2a;
}

/*----Colors-----

---Greys
HEX			NAME 		
#161713 - 1st dark grey 
#262626 - 2nd dark grey 
#272822 - 3rd dark grey 
#383830 - 4th			
#474747 - 5th			
#595959 - 6th		

---Soft Colors
dce9de - white
ab7ffa - purple
47b2dc - blue
ddd162 - yellow
ac2755 - red
7ede2a - green
fa951f - orange

---Hard Colors
00fbb1 - blue green
b0167a - pink purple
*/

/*-----FONTS -|- COLORS-----*/

body {
	background-color: #161713;
}

.name {
	background-color: #161713;
}

#myName2{
	background-color: #383830;

	border-top:  2px solid #595959;
	border-bottom:  2px solid #595959;
}

#myName1, #myName3{
	border-top:  2px solid rgba(0, 0, 0, 0);
	border-bottom:  2px solid rgba(0, 0, 0, 0);
}

.nameSmall2, .nameSmall3{
	color: #dce9de;
}

.nameSmall1, .nameLarge3{
	color:  rgba(0, 0, 0, 0);
}

.nameLarge1, .nameLarge3{
	color:  #00fbb1;
}

.nameLarge2{
	color:  #b0167a;
}

.underConstruction{
	color: black;
	background-color: white;
	padding: auto;
}

/*Formatting*/

.mobile img{
	height: 50px;
}

.name{
	width: 100%;
	z-index: 1;
	padding-top: 15px;
}

#myName1 > div > div, #myName2 > div > div, #myName3 > div >div{
	display: inline-block;
}

#myName1 > div, #myName2 > div, #myName3 > div{
	max-width: 1000px;
	margin: auto;
}

#myName1, #myName2, #myName3{
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nameLarge1, .nameLarge2, .nameLarge3{
	font-size: 48px;
}

.nameSmall1, .nameSmall2, .nameSmall3{
	font-size: 12px;
}

#myName1, #myName2{
	position: fixed;
}

/*only difference*/

#myName1{
	z-index: 1;
}

#mainDiv{
	max-width: 1000px;
	margin: auto;
}

.underConstruction{
	text-align: center;
}

#contactTable{
	table-layout: fixed;
	width: 100%;
}

#contactTable tr td{
    text-align: center;
    vertical-align: middle;
}

#contactTable tr td div a{
	word-wrap: break-word;
}

.tblImageOpacityOnHover{
	opacity: .75;
}

.tblImageOpacityOnHover:hover{
	opacity: 1;
}

/*Special Mail Footer Code*/

.hoverIcon > .iconImg{
	height: 100%;
	max-height: 35px;
	opacity: 1;
}

.hoverIcon > .iconText{
	font-size: 0;

	size: 0%;
	height: 0%;
	width: 0%;
}

/*
.hoverIcon:hover > .iconImg{
	height: 0px;
	width: 0px;
	opacity: 0;
}
*/

.hoverIcon:hover > .iconText{
	font-size: 14px;

	size: 100%;
	height: 100%;
	width: 100%;
}

/*-----FORMATTING-----*/

/*desktop*/
@media only screen and (min-width: 1000px), only screen and (min-device-width: 1000px){
	.mobile{
		display: none;
	}

	.desktop{
		display: block;
	}

	#myFace{
		float: right;
	}

	#aboutMeLine{
		width: 75%;
	}

	#smallTitle{
		display: none;
	}

	#largeTitle{
		display: block;
	}

	#nameMobile{
		padding-top: 20px;
	}

	#nameMobile > .nameSmall3 {
	}

	#nameMobile > .nameLarge3 {
		font-size: 48px;
	}
}

/*mobile*/
@media only screen and (max-width: 1000px), only screen and (max-device-width: 1000px){
	.mobile{
		display: block;
	}

	.desktop{
		display: none;
	}

	#myFace{
		float: none;
	}

	#aboutMeLine{
		width: 100%;
	}

	#smallTitle{
		display: block;
	}

	#largeTitle{
		display: none;
	}

	#nameMobile{
		padding-top: 0px;
	}

	#nameMobile > .nameSmall3 {
	}

	#nameMobile > .nameLarge3 {
		font-size: 32px;
	}
}