/*-----EXTRA RESETS-----*/

body{
	font-family: Consolas, monaco, monospace;
	background-color: #161713;
	color: white;

	position: static;
}

a:link {
    color: #47b2dc;
}

/* visited link */
a:visited {
    color: #7ede2a;
}

/*----Colors-----

---Greys
HEX			NAME 		
#161713 - 1st dark grey 
#262626 - 2nd dark grey 
#272822 - 3rd dark grey 
#383830 - 4th			
#474747 - 5th			
#595959 - 6th		

---Soft Colors
dce9de - white
ab7ffa - purple
47b2dc - blue
ddd162 - yellow
ac2755 - red
7ede2a - green
fa951f - orange

---Hard Colors
00fbb1 - blue green
b0167a - pink purple
*/

/*-----FONTS -|- COLORS-----*/

body {
	background-color: #161713;
}

.name{
	/*background-color: #161713;*/
	background-color: #00ff00;
}

#myName1{
	border-top:  2px solid #595959;
	border-bottom:  2px solid #595959;
}

#myName2{
	border-top:  2px solid blue;
	border-bottom:  2px solid blue;
}

#myName3{
	background-color: #ff0000;

	border-top:  2px solid #0000ff;
	border-bottom:  2px solid #0000ff;
}

.nameSmall1{
	color: #dce9de;
}

.nameLarge1{
	color:  #00fbb1;
}

#myName2{
	background-color: #383830;
}

/*
.nameSmall2, .nameSmall3, .nameLarge3{
	color:  rgba(0, 0, 0, 0);
}
*/

.nameLarge2{
	color:  #b0167a;
}

#mainDiv{

}

.underConstruction{
	color: black;
	background-color: white;
	padding: auto;
}

/*-----FORMATTING-----*/

/*desktop*/
@media only screen and (min-width: 1200px), only screen and (min-device-width: 1200px){
	.mobile{
		display: none;
	}

	.desktop{
		display: block;
	}
}

/*mobile*/
@media only screen and (max-width: 1200px), only screen and (max-device-width: 1200px){
	.mobile{
		display: block;
	}

	.desktop{
		display: none;
	}
}


.mobile img{
	height: 50px;
}

.name{
	width: 100%;
	z-index: 1;
	padding-top: 15px;
}

#myName1 > div > div, #myName2 > div > div, #myName3 > div >div{
	display: inline-block;
}

#myName1 > div, #myName2 > div, #myName3 > div{
	max-width: 1000px;
	margin: auto;
}

#myName1, #myName2, #myName3{
	width: 100%;
	padding: 5px;
}

#myName1, #myName2{
	position: fixed;
}

.nameLarge3{
	font-size: 63px;
}

.nameLarge1, .nameLarge2{
	font-size: 48px;
}

.nameSmall3{
	font-size: 9px;
}

.nameSmall1, .nameSmall2{
	font-size: 12px;
}

/*only difference*/

#myName1{
	z-index: 1;
}

#myName2{
	padding: 0px;
}

#mainDiv{
	max-width: 1000px;
	margin: auto;
	padding: 5px;
}

.underConstruction{
	text-align: center;
}

#contactTable{
	table-layout: fixed;
	width: 100%;
}

#contactTable tr td{
    text-align: center;
    vertical-align: middle;
}

.tblImageOpacityOnHover{
	opacity: .75;
}

.tblImageOpacityOnHover:hover{
	opacity: 1;
}

#tblImagePhone{
	content: url(".././images/phone.png");
	height: 35px;
}

#tblImagePhone:hover{
	content: url(".././images/phoneHover.png");
}

#tblImageMail{
	content: url(".././images/email.png");
	height: 35px;
}

#tblImageMail:hover{
	content: url(".././images/emailHover.png");
}