body {
  background: #000;
}

.swiper {
  height: 428px;
}

.swiper-slide {
  height: 428px;
}

.swiper-slide img {
  display: block;
  height: 100%;
  margin-left: 16px;
  margin-right: 16px;
  object-fit: contain;
}