body {
  background: #202020;
}

._8pxborder {
  border-radius: 8px;
}

a {
  text-decoration: none;
}

.heart { 
  display: none;
  height:36px;
  width:36px;
  position:absolute;
  bottom:4px;
  left:56px;
}

/* FIX BUGS from menu */
.page-wrap-closed {
  transform: translate3d(0px, 0px, 0px) !important;
}

.bm-menu-wrap-opened {
  display: block !important;
  transform: translate3d(0px, 0px, 0px) !important;
}

.bm-menu-wrap-closed {
  transform: translate3d(-100%, 0px, 0px) !important;
}

.bm-overlay-opened {
  opacity: 1 !important;
}

.bm-overlay-closed {
  opacity: 0 !important;
}


.other-opened {
  overflow-x: hidden !important;
}
/*
.other-closed {
  overflow-x: auto !important;
}
*/

/* Position and sizing of burger button */
.bm-burger-button {
  z-index: 999 !important;
  background-color: #e0e0e0;
  height: 44px;
  width: 44px;
  border: 2px solid #202020;
  border-radius: 100%;
  top: 16px;
  right: 16px;
  left: auto;
  position: fixed;
}

/*sync the transition*/
.bm-menu-wrap {
  transition: all 0.25s ease 0s !important;
}

/*both of these will follow the menu when we add a particular class*/
.bm-burger-button, #topFixed {
  transition: all 0.25s ease 0s !important;
}

#page-wrap {
  transition: all 0.25s ease 0s !important;
}

.bm-overlay {
  transition: opacity 0.25s ease 0s !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  height: 4px !important;
  background: #202020;
  width: 24px !important;
  margin: auto;
  position: absolute !important;
  padding: 0px !important;
  top: 0px;
  bottom: auto !important;
}

/*what makes the menu icon*/
.bm-burger-bars:nth-of-type(1) {
  top: 12px !important;
}

.bm-burger-bars:nth-of-type(2) {
  top: 20px !important;
}

.bm-burger-bars:nth-of-type(3) {
  top: 28px !important;
}

/* General sidebar styles */
.bm-menu {
  background-color: #e0e0e0;
  color: #202020;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #e0e0e0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}

/* making the little X disapear */
.bm-cross-button {
  display: none !important;
}

/*-----copied directly from example, haven't removed to avoid potential side effects-----*/

#App {
  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
}